<!DOCTYPE HTML>
<html>
    <head>
        <title>Chicago Crime Data Analysis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/font-awesome.css" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/Chart.min.js"></script>
        <script src="/static/js/modernizr.min.js" type="text/javascript"></script>
        <script src="/static/js/chartinator.js" ></script>
        <script src="/static/js/skycons.js"></script>
    </head>
    <body style="width:100%;">	
        <div class="page-container">	
            <div class="left-content">
                <div class="mother-grid-inner">
                    <div class="header-main">
                        <div class="header-left">
                            <div><h3 style="color:white;">Chicago Crime Data Analysis</h3></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="header-right">
                            <div class="profile_details_left">
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>				
                        </div>
                        <div class="clearfix"></div>	
                    </div>
                    <div class="inner-block">
                        <div class="market-updates">
                            <div class="col-md-4 market-update-gd">
                                <div class="market-update-block clr-block-1">
                                    <div class="col-md-8 market-update-left">
                                        <h5 style="color:darkslategray">CRIME FREQUENCIES</h5>
                                    </div>
                                    <div class="col-md-4 market-update-right">
                                        <i class="fas fa-chart-bar" style="font-size:60px;color:darkslategray"> </i>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="col-md-4 market-update-gd">
                                <div class="market-update-block clr-block-2">
                                    <div class="col-md-8 market-update-left">
                                        <h5 style="color:darkslategray">CRIME MAPPING</h5>
                                    </div>
                                    <div class="col-md-4 market-update-right">
                                        <i class="fas fa-globe" style="font-size:60px;color:darkslategray"> </i>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="col-md-4 market-update-gd">
                                <div class="market-update-block clr-block-3">
                                    <div class="col-md-8 market-update-left">
                                        <h5 style="color:darkslategray">CRIME DISTRIBUTION</h5>
                                    </div>
                                    <div class="col-md-4 market-update-right" >
                                        <i class="fas fa-map-marker-alt" style="font-size:60px;color:darkslategray"> </i>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="chit-chat-layer1">	
                            <div class="col-md-6 chit-chat-layer1-rit" id="plotdiv">
                            {% if name_send is defined %}  
                                <img src={{url}} alt='Chart' height="540" width="1490">  	
                            {% endif %}
                            {% if name_send2 is defined %}  
                                <img src={{url2}} alt='Chart' height="540" width="1200">  	
                            {% endif %}
                            {% if name_send3 is defined %}  
                            <img src={{url3}} alt='Chart' height="540" width="1200">  	
                            {% endif %}

                        </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="climate">
                            <div class="col-md-4 climate-grids">
                                <div class="climate-grid1">
                                    <div class="climate-gd1-top">
                                        <div class="col-md-6 climate-gd1top-left">
                                        </div>
                                        <div class="col-md-6 climate-gd1top-right">
                                            <span class="clime-icon"> 
                                                <figure class="icons">
                                                    <canvas id="partly-cloudy-day" width="64" height="64">
                                                    </canvas>
                                                </figure>				  
                                            </span>					
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="climate-gd1-bottom">
                                        <div class="col-md-4 cloudy1">
                                        </div>
                                        <div class="col-md-4 cloudy1">					
                                        </div>
                                        <div class="col-md-4 cloudy1">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 climate-grids">
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> </a> </div>    <div class="menu">
                    <br/>
                    <br/>
                    <br/>
                    <ul id="menu" >
                        <li><a href="/templates/sample.html"><i class="fa fa-cogs"></i><span>Crime Records</span></a></li>
                        <br/>
                        <li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>Crime Distribution - Types</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul id="menu-academico-sub" >
                                <li id="menu-academico-boletim" ><a href='/option/NARCOTICS' target="_blank">Narcotics Crime</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/MOTOR VEHICLE THEFT' target="_blank">Motor Vehicle</a></li>	
                                <li id="menu-academico-avaliacoes" ><a href= '/option/THEFT' target="_blank" >Theft Crime</a></li>	
                                <li id="menu-academico-avaliacoes" ><a href='/option/CRIMINAL DAMAGE' target="_blank" >Criminal Damage</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/BATTERY'target="_blank" >Battery Crime</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/ASSAULT' target="_blank" >Assualt Crime</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/ROBBERY'target="_blank" >Robbery Crime</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/DECEPTIVE PRACTICE' target="_blank">Deceptive Practice</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/BURGLARY' target="_blank">Burglary Crime</a></li>
                                <li id="menu-academico-avaliacoes" ><a href='/option/OTHER OFFENSE'target="_blank">Other Offense</a></li>	
                            </ul>
                        </li>
                        <br/>
                        <li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>Crime Distribution - Year</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul id="menu-academico-sub" >
                                <li id="menu-academico-boletim" ><a href="{{url_for('one')}}"  target="_blank">2001-2004</a></li>
                                <li id="menu-academico-avaliacoes" ><a href="{{url_for('two')}}"  target="_blank">2005-2008</a></li>	
                                <li id="menu-academico-avaliacoes" ><a href="{{url_for('three')}}"  target="_blank">2009-2011</a></li>	
                                <li id="menu-academico-avaliacoes" ><a href="{{url_for('four')}}" target="_blank">2012-2017</a></li>
                            </ul>
                        </li>
                        <br/>
                        <li id="menu-academico" ><a href="{{url_for('crime_type_plot')}}"><i class="fa fa-bar-chart"></i><span>Crime Distribution - Count</span></a>
                        </li>
                        <br/>
                        <li id="menu-academico" ><a href="{{url_for('crime_loc_plot')}}"><i class="fa fa-bar-chart"></i><span>Crime Distribution - Places</span></a></li>
                        <br/>
                        <li><a href="{{url_for('crime_date_plot')}}"><i class="fa fa-bar-chart"></i><span>Crime Distribution - Day</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <script>
            var toggle = true;         
            $(".sidebar-icon").click(function() {                
                if (toggle)
                {
                    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                    $("#menu span").css({"position":"absolute"});
                }
                else
                {
                    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                    setTimeout(function() {
                        $("#menu span").css({"position":"relative"});}, 400);
                }               
                toggle = !toggle;});

        </script>
        <script src="/static/js/jquery.nicescroll.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/bootstrap.js"> </script>
    </body>
</html>                     
                   
