<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_37370c8a2e60483594a91f28939b5ce1 {
        position: relative;
        height: 100% !important;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_37370c8a2e60483594a91f28939b5ce1" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_37370c8a2e60483594a91f28939b5ce1 = L.map(
        'map_37370c8a2e60483594a91f28939b5ce1', {
        center: [41.8369, -87.6847],
        zoom: 11,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_b4f4ee062db94b2c8006bcd32a2d6995 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_37370c8a2e60483594a91f28939b5ce1);
    
        var marker_f6d129b9d11f4b779b1a3acfd58bd1c5 = L.marker(
            [41.80779181, -87.703963414],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_92e964a34c94468fb72b46fef978e5a8 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f6d129b9d11f4b779b1a3acfd58bd1c5.setIcon(icon_92e964a34c94468fb72b46fef978e5a8);
            
    
            var popup_c709905dac4f4d8d8fc5f82adf773d78 = L.popup({maxWidth: '100%'
            
            });

            
                var html_f0d64f50bc894d9d8649a57300a8f08f = $(`<div id="html_f0d64f50bc894d9d8649a57300a8f08f" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_c709905dac4f4d8d8fc5f82adf773d78.setContent(html_f0d64f50bc894d9d8649a57300a8f08f);
            

            marker_f6d129b9d11f4b779b1a3acfd58bd1c5.bindPopup(popup_c709905dac4f4d8d8fc5f82adf773d78)
            ;

            
        
    
        var marker_8c39318332a94d9e969e0e2f367d28ec = L.marker(
            [41.781354841, -87.659707608],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_59f2ad26328649ed94a97c9e13964b2d = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8c39318332a94d9e969e0e2f367d28ec.setIcon(icon_59f2ad26328649ed94a97c9e13964b2d);
            
    
            var popup_475cfdc08a3f4357b015d39ad4c0856e = L.popup({maxWidth: '100%'
            
            });

            
                var html_85965c0ff4a14ca5a381eda845b419e5 = $(`<div id="html_85965c0ff4a14ca5a381eda845b419e5" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_475cfdc08a3f4357b015d39ad4c0856e.setContent(html_85965c0ff4a14ca5a381eda845b419e5);
            

            marker_8c39318332a94d9e969e0e2f367d28ec.bindPopup(popup_475cfdc08a3f4357b015d39ad4c0856e)
            ;

            
        
    
        var marker_f89e506ca25d4d298a10383efb32b8fd = L.marker(
            [41.969470567, -87.68163489],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_79919f806ca047a5b21061dc6a39ddc5 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f89e506ca25d4d298a10383efb32b8fd.setIcon(icon_79919f806ca047a5b21061dc6a39ddc5);
            
    
            var popup_6011a6d312a341ce979235cb567d821d = L.popup({maxWidth: '100%'
            
            });

            
                var html_e94e9fd0ac9845b6a0e190490229ef40 = $(`<div id="html_e94e9fd0ac9845b6a0e190490229ef40" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_6011a6d312a341ce979235cb567d821d.setContent(html_e94e9fd0ac9845b6a0e190490229ef40);
            

            marker_f89e506ca25d4d298a10383efb32b8fd.bindPopup(popup_6011a6d312a341ce979235cb567d821d)
            ;

            
        
    
        var marker_0988adf7a5394dd0aa425b469a1be31d = L.marker(
            [41.936267366, -87.705090764],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_95c7929d84d84b56ab0d191781e17ca5 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0988adf7a5394dd0aa425b469a1be31d.setIcon(icon_95c7929d84d84b56ab0d191781e17ca5);
            
    
            var popup_a843b6b3061d4bc7be9a306c1177fa88 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9ed25391d77f4040b45163266a94a561 = $(`<div id="html_9ed25391d77f4040b45163266a94a561" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_a843b6b3061d4bc7be9a306c1177fa88.setContent(html_9ed25391d77f4040b45163266a94a561);
            

            marker_0988adf7a5394dd0aa425b469a1be31d.bindPopup(popup_a843b6b3061d4bc7be9a306c1177fa88)
            ;

            
        
    
        var marker_4880613485554fdf90dc7c5da7f20ab1 = L.marker(
            [41.890755538, -87.636346911],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_cfe58609aeaa40f8a138b487f9366e88 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4880613485554fdf90dc7c5da7f20ab1.setIcon(icon_cfe58609aeaa40f8a138b487f9366e88);
            
    
            var popup_7f64a2a44185473f9862a28cc061730c = L.popup({maxWidth: '100%'
            
            });

            
                var html_7d0ee5b7e1a442d5af63cad8d0a37575 = $(`<div id="html_7d0ee5b7e1a442d5af63cad8d0a37575" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_7f64a2a44185473f9862a28cc061730c.setContent(html_7d0ee5b7e1a442d5af63cad8d0a37575);
            

            marker_4880613485554fdf90dc7c5da7f20ab1.bindPopup(popup_7f64a2a44185473f9862a28cc061730c)
            ;

            
        
    
        var marker_a143c681e7314866aac1a6da0614bb96 = L.marker(
            [41.771041194, -87.582583207],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_dfd94df518944f108d036fea5dad2c27 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a143c681e7314866aac1a6da0614bb96.setIcon(icon_dfd94df518944f108d036fea5dad2c27);
            
    
            var popup_00b745a0bf5341fc96d1d4c20fa9036c = L.popup({maxWidth: '100%'
            
            });

            
                var html_7b1e31fa767c4351bc84acd10d7d8c67 = $(`<div id="html_7b1e31fa767c4351bc84acd10d7d8c67" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_00b745a0bf5341fc96d1d4c20fa9036c.setContent(html_7b1e31fa767c4351bc84acd10d7d8c67);
            

            marker_a143c681e7314866aac1a6da0614bb96.bindPopup(popup_00b745a0bf5341fc96d1d4c20fa9036c)
            ;

            
        
    
        var marker_ea4717674c1e42bfa1cf583bbe3e8409 = L.marker(
            [41.778469673, -87.692158778],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_783022f719324947940006bc60a38c9c = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ea4717674c1e42bfa1cf583bbe3e8409.setIcon(icon_783022f719324947940006bc60a38c9c);
            
    
            var popup_ac4b9c6a22b147b08138a40f26050134 = L.popup({maxWidth: '100%'
            
            });

            
                var html_8ebb7fd30af649188da3635cf7c126a3 = $(`<div id="html_8ebb7fd30af649188da3635cf7c126a3" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_ac4b9c6a22b147b08138a40f26050134.setContent(html_8ebb7fd30af649188da3635cf7c126a3);
            

            marker_ea4717674c1e42bfa1cf583bbe3e8409.bindPopup(popup_ac4b9c6a22b147b08138a40f26050134)
            ;

            
        
    
        var marker_0c177347430f48bfb37865574865021c = L.marker(
            [41.921372562, -87.737689729],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_362d41769a094dc489d5b277198b451a = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0c177347430f48bfb37865574865021c.setIcon(icon_362d41769a094dc489d5b277198b451a);
            
    
            var popup_c616aa8f55b3445badaf46129e72f132 = L.popup({maxWidth: '100%'
            
            });

            
                var html_f2cde9fe4bd346e6ab9db196d7b670e2 = $(`<div id="html_f2cde9fe4bd346e6ab9db196d7b670e2" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_c616aa8f55b3445badaf46129e72f132.setContent(html_f2cde9fe4bd346e6ab9db196d7b670e2);
            

            marker_0c177347430f48bfb37865574865021c.bindPopup(popup_c616aa8f55b3445badaf46129e72f132)
            ;

            
        
    
        var marker_84ae3be5e5d24df59655a80fe2dad4b3 = L.marker(
            [41.920381098, -87.800641542],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_d9bdc0b0fd2f431ab4a9e55d96592ef5 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_84ae3be5e5d24df59655a80fe2dad4b3.setIcon(icon_d9bdc0b0fd2f431ab4a9e55d96592ef5);
            
    
            var popup_ffc2c964778f43cea5787b6ded6866b0 = L.popup({maxWidth: '100%'
            
            });

            
                var html_10f4c828d15d48a5aa52e40c5345d852 = $(`<div id="html_10f4c828d15d48a5aa52e40c5345d852" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_ffc2c964778f43cea5787b6ded6866b0.setContent(html_10f4c828d15d48a5aa52e40c5345d852);
            

            marker_84ae3be5e5d24df59655a80fe2dad4b3.bindPopup(popup_ffc2c964778f43cea5787b6ded6866b0)
            ;

            
        
    
        var marker_ff7a64a125884e2e83bacc9578540780 = L.marker(
            [41.810733198, -87.746914104],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_020552920eb7417b818d6a9318ef6264 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ff7a64a125884e2e83bacc9578540780.setIcon(icon_020552920eb7417b818d6a9318ef6264);
            
    
            var popup_247f2e77c7b646d7a9ef42d79142bb89 = L.popup({maxWidth: '100%'
            
            });

            
                var html_ba249123276e4e13927c4f8c00d42cb7 = $(`<div id="html_ba249123276e4e13927c4f8c00d42cb7" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_247f2e77c7b646d7a9ef42d79142bb89.setContent(html_ba249123276e4e13927c4f8c00d42cb7);
            

            marker_ff7a64a125884e2e83bacc9578540780.bindPopup(popup_247f2e77c7b646d7a9ef42d79142bb89)
            ;

            
        
    
        var marker_cfe20c58f0784b638b3fe34da4799d1f = L.marker(
            [41.890898952, -87.712517349],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_a0f3698c34c04c9884766232e2ba3dc9 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cfe20c58f0784b638b3fe34da4799d1f.setIcon(icon_a0f3698c34c04c9884766232e2ba3dc9);
            
    
            var popup_ab7742ac552e486ab6b411505529e20c = L.popup({maxWidth: '100%'
            
            });

            
                var html_9758b1140a7d4fcf8e6d6872786fa299 = $(`<div id="html_9758b1140a7d4fcf8e6d6872786fa299" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_ab7742ac552e486ab6b411505529e20c.setContent(html_9758b1140a7d4fcf8e6d6872786fa299);
            

            marker_cfe20c58f0784b638b3fe34da4799d1f.bindPopup(popup_ab7742ac552e486ab6b411505529e20c)
            ;

            
        
    
        var marker_79c7c22047714c77989f4bd9d539645e = L.marker(
            [41.679813269, -87.625599506],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_71451986cd724578b686644e397f9d6b = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_79c7c22047714c77989f4bd9d539645e.setIcon(icon_71451986cd724578b686644e397f9d6b);
            
    
            var popup_3393132aa38644cc9560c745132ea6a6 = L.popup({maxWidth: '100%'
            
            });

            
                var html_e35c15e2da22488f8daa3136a5f35733 = $(`<div id="html_e35c15e2da22488f8daa3136a5f35733" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_3393132aa38644cc9560c745132ea6a6.setContent(html_e35c15e2da22488f8daa3136a5f35733);
            

            marker_79c7c22047714c77989f4bd9d539645e.bindPopup(popup_3393132aa38644cc9560c745132ea6a6)
            ;

            
        
    
        var marker_27f31584281248d79f02737f76b9a64c = L.marker(
            [41.778397088, -87.686066138],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_3b32a455460b46abaa1dc3f8214fa0e0 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_27f31584281248d79f02737f76b9a64c.setIcon(icon_3b32a455460b46abaa1dc3f8214fa0e0);
            
    
            var popup_5df389cb326d4d7d9f179f2b9a0a514b = L.popup({maxWidth: '100%'
            
            });

            
                var html_65b44ad4b5864267afc7041e3a3fe9d1 = $(`<div id="html_65b44ad4b5864267afc7041e3a3fe9d1" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_5df389cb326d4d7d9f179f2b9a0a514b.setContent(html_65b44ad4b5864267afc7041e3a3fe9d1);
            

            marker_27f31584281248d79f02737f76b9a64c.bindPopup(popup_5df389cb326d4d7d9f179f2b9a0a514b)
            ;

            
        
    
        var marker_56a39b7eb4e84b72b3ea159463a78d48 = L.marker(
            [42.00849705, -87.698018755],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_d3373a36623140ebbe926d8df9a475ec = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_56a39b7eb4e84b72b3ea159463a78d48.setIcon(icon_d3373a36623140ebbe926d8df9a475ec);
            
    
            var popup_c9f3e3232a58420b81127acc4ea72bc3 = L.popup({maxWidth: '100%'
            
            });

            
                var html_a9223a125f414a25ad00d6327c0f3c97 = $(`<div id="html_a9223a125f414a25ad00d6327c0f3c97" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_c9f3e3232a58420b81127acc4ea72bc3.setContent(html_a9223a125f414a25ad00d6327c0f3c97);
            

            marker_56a39b7eb4e84b72b3ea159463a78d48.bindPopup(popup_c9f3e3232a58420b81127acc4ea72bc3)
            ;

            
        
    
        var marker_f1ff540b82914c889e6ea8363c3f4ef4 = L.marker(
            [41.866451967, -87.701226002],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_ba16034502714700932c02ff82de136d = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f1ff540b82914c889e6ea8363c3f4ef4.setIcon(icon_ba16034502714700932c02ff82de136d);
            
    
            var popup_9f6dd59fd1924861852751d7d446724f = L.popup({maxWidth: '100%'
            
            });

            
                var html_d2ff1faab14d4e37953e0de356548d76 = $(`<div id="html_d2ff1faab14d4e37953e0de356548d76" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_9f6dd59fd1924861852751d7d446724f.setContent(html_d2ff1faab14d4e37953e0de356548d76);
            

            marker_f1ff540b82914c889e6ea8363c3f4ef4.bindPopup(popup_9f6dd59fd1924861852751d7d446724f)
            ;

            
        
    
        var marker_e9b7add417c24df2ac948b9c8f6b0b1b = L.marker(
            [41.909707759, -87.739458739],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_00f70a54c4ab4beba3713e2fc87b4f9f = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e9b7add417c24df2ac948b9c8f6b0b1b.setIcon(icon_00f70a54c4ab4beba3713e2fc87b4f9f);
            
    
            var popup_956184ea8c7a4a3291d31740dd721407 = L.popup({maxWidth: '100%'
            
            });

            
                var html_000424917d4b4a43ab331ba718260a16 = $(`<div id="html_000424917d4b4a43ab331ba718260a16" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_956184ea8c7a4a3291d31740dd721407.setContent(html_000424917d4b4a43ab331ba718260a16);
            

            marker_e9b7add417c24df2ac948b9c8f6b0b1b.bindPopup(popup_956184ea8c7a4a3291d31740dd721407)
            ;

            
        
    
        var marker_8092d5a16f97439798f3c2a13cf6d7c2 = L.marker(
            [41.785085247, -87.613259639],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_8b03ccb3398f4071b4152f375bd6ea97 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8092d5a16f97439798f3c2a13cf6d7c2.setIcon(icon_8b03ccb3398f4071b4152f375bd6ea97);
            
    
            var popup_5a678afff08a4c79a1623913d7252b21 = L.popup({maxWidth: '100%'
            
            });

            
                var html_8d39263d44384a99948b409640f6d1d8 = $(`<div id="html_8d39263d44384a99948b409640f6d1d8" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_5a678afff08a4c79a1623913d7252b21.setContent(html_8d39263d44384a99948b409640f6d1d8);
            

            marker_8092d5a16f97439798f3c2a13cf6d7c2.bindPopup(popup_5a678afff08a4c79a1623913d7252b21)
            ;

            
        
    
        var marker_b172478f1e194c1ab5d3d5899979d5d5 = L.marker(
            [41.679813269, -87.625599506],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_f8eef450e9a84bbbab8da14fc8d45ef8 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b172478f1e194c1ab5d3d5899979d5d5.setIcon(icon_f8eef450e9a84bbbab8da14fc8d45ef8);
            
    
            var popup_1f7cb29fbb7d4f6182da7805574c6db7 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7e0d3f839ba34fc18a244a59692a7202 = $(`<div id="html_7e0d3f839ba34fc18a244a59692a7202" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_1f7cb29fbb7d4f6182da7805574c6db7.setContent(html_7e0d3f839ba34fc18a244a59692a7202);
            

            marker_b172478f1e194c1ab5d3d5899979d5d5.bindPopup(popup_1f7cb29fbb7d4f6182da7805574c6db7)
            ;

            
        
    
        var marker_e358178424e345a3b98fa65c01f716ed = L.marker(
            [42.003159884, -87.691655397],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_939d41f41965448ebc12fb69466f6e28 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e358178424e345a3b98fa65c01f716ed.setIcon(icon_939d41f41965448ebc12fb69466f6e28);
            
    
            var popup_758d3d241fd544b3951f6d64614e0200 = L.popup({maxWidth: '100%'
            
            });

            
                var html_756abe218751412fa12edb29bb243313 = $(`<div id="html_756abe218751412fa12edb29bb243313" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_758d3d241fd544b3951f6d64614e0200.setContent(html_756abe218751412fa12edb29bb243313);
            

            marker_e358178424e345a3b98fa65c01f716ed.bindPopup(popup_758d3d241fd544b3951f6d64614e0200)
            ;

            
        
    
        var marker_5bf9ec7aaad041f582321e3d2f1db78f = L.marker(
            [41.73088464, -87.574349997],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_54c44b360a104cc3b2af6a938a1fcd6c = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5bf9ec7aaad041f582321e3d2f1db78f.setIcon(icon_54c44b360a104cc3b2af6a938a1fcd6c);
            
    
            var popup_e83e6ab57f0944c2b0adc2b45cad98bf = L.popup({maxWidth: '100%'
            
            });

            
                var html_2e7cf8dc3fba4116a51891836aaafbd5 = $(`<div id="html_2e7cf8dc3fba4116a51891836aaafbd5" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_e83e6ab57f0944c2b0adc2b45cad98bf.setContent(html_2e7cf8dc3fba4116a51891836aaafbd5);
            

            marker_5bf9ec7aaad041f582321e3d2f1db78f.bindPopup(popup_e83e6ab57f0944c2b0adc2b45cad98bf)
            ;

            
        
    
        var marker_8fcd85fe7e6b41c89ca3187b9bbcac9d = L.marker(
            [41.900915443, -87.718128621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_121d0d3c4657493892c346b5b1f9e22c = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8fcd85fe7e6b41c89ca3187b9bbcac9d.setIcon(icon_121d0d3c4657493892c346b5b1f9e22c);
            
    
            var popup_c63abd9be831428da14c99b49e0214f0 = L.popup({maxWidth: '100%'
            
            });

            
                var html_dc68dc6cc9f740d2838eac86c9a7fe82 = $(`<div id="html_dc68dc6cc9f740d2838eac86c9a7fe82" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_c63abd9be831428da14c99b49e0214f0.setContent(html_dc68dc6cc9f740d2838eac86c9a7fe82);
            

            marker_8fcd85fe7e6b41c89ca3187b9bbcac9d.bindPopup(popup_c63abd9be831428da14c99b49e0214f0)
            ;

            
        
    
        var marker_542cd356650c4b6a96d4690b1b0fc280 = L.marker(
            [42.017141954, -87.677652421],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_77e62bfaf0744eb2a2f45ff5bb2bb1f9 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_542cd356650c4b6a96d4690b1b0fc280.setIcon(icon_77e62bfaf0744eb2a2f45ff5bb2bb1f9);
            
    
            var popup_4d120a86c4f040ac9bd493f3418ed96c = L.popup({maxWidth: '100%'
            
            });

            
                var html_0bf74c915ede4b42883f949b805c4251 = $(`<div id="html_0bf74c915ede4b42883f949b805c4251" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_4d120a86c4f040ac9bd493f3418ed96c.setContent(html_0bf74c915ede4b42883f949b805c4251);
            

            marker_542cd356650c4b6a96d4690b1b0fc280.bindPopup(popup_4d120a86c4f040ac9bd493f3418ed96c)
            ;

            
        
    
        var marker_05b8713434df4e488698902c30844bc8 = L.marker(
            [42.017140206, -87.666866461],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_35cab71d7978467aa0138859c5fbc633 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_05b8713434df4e488698902c30844bc8.setIcon(icon_35cab71d7978467aa0138859c5fbc633);
            
    
            var popup_a27dfc756acf4541b17b9651575a01fd = L.popup({maxWidth: '100%'
            
            });

            
                var html_56f10bab0b0a4126bae73cf4825deccd = $(`<div id="html_56f10bab0b0a4126bae73cf4825deccd" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_a27dfc756acf4541b17b9651575a01fd.setContent(html_56f10bab0b0a4126bae73cf4825deccd);
            

            marker_05b8713434df4e488698902c30844bc8.bindPopup(popup_a27dfc756acf4541b17b9651575a01fd)
            ;

            
        
    
        var marker_a18c248ef816412c92209352387c0519 = L.marker(
            [41.728418563, -87.666052809],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_c6ea165831df44b2b984f9ea6e7ccdfa = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a18c248ef816412c92209352387c0519.setIcon(icon_c6ea165831df44b2b984f9ea6e7ccdfa);
            
    
            var popup_a187eb5e159e4f20a8c766e1d6ae8c95 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7d4bd4a5de724bfd9f94dbef5ac53e69 = $(`<div id="html_7d4bd4a5de724bfd9f94dbef5ac53e69" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_a187eb5e159e4f20a8c766e1d6ae8c95.setContent(html_7d4bd4a5de724bfd9f94dbef5ac53e69);
            

            marker_a18c248ef816412c92209352387c0519.bindPopup(popup_a187eb5e159e4f20a8c766e1d6ae8c95)
            ;

            
        
    
        var marker_3f0813a6c1ed4ed3bc2dc96d8df1f428 = L.marker(
            [41.88174021, -87.751057509],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_b21ea95056884c0288703e03c2abfd5c = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3f0813a6c1ed4ed3bc2dc96d8df1f428.setIcon(icon_b21ea95056884c0288703e03c2abfd5c);
            
    
            var popup_1e8e5f052ee74399a6a8192f10b47369 = L.popup({maxWidth: '100%'
            
            });

            
                var html_5f016afaecb5410fbf7ae36fa6e14b7c = $(`<div id="html_5f016afaecb5410fbf7ae36fa6e14b7c" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_1e8e5f052ee74399a6a8192f10b47369.setContent(html_5f016afaecb5410fbf7ae36fa6e14b7c);
            

            marker_3f0813a6c1ed4ed3bc2dc96d8df1f428.bindPopup(popup_1e8e5f052ee74399a6a8192f10b47369)
            ;

            
        
    
        var marker_3ba721b552784cba8f0a7c88d2df8e43 = L.marker(
            [41.707263758, -87.617014549],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_9163e21ab55f46e3a6658ca6684ac461 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3ba721b552784cba8f0a7c88d2df8e43.setIcon(icon_9163e21ab55f46e3a6658ca6684ac461);
            
    
            var popup_74f388cc07a54c019b5f259dc097fd2d = L.popup({maxWidth: '100%'
            
            });

            
                var html_4994541875d84f10b03568b033879f24 = $(`<div id="html_4994541875d84f10b03568b033879f24" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_74f388cc07a54c019b5f259dc097fd2d.setContent(html_4994541875d84f10b03568b033879f24);
            

            marker_3ba721b552784cba8f0a7c88d2df8e43.bindPopup(popup_74f388cc07a54c019b5f259dc097fd2d)
            ;

            
        
    
        var marker_6dab48203789423fa8c31e9110b17ef7 = L.marker(
            [41.865506189, -87.722712182],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_87ff53e6b94e461b9361e853d8d3f277 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6dab48203789423fa8c31e9110b17ef7.setIcon(icon_87ff53e6b94e461b9361e853d8d3f277);
            
    
            var popup_80875a8d3a13457e8eceb08ed1189368 = L.popup({maxWidth: '100%'
            
            });

            
                var html_2c345446d4084acda2bc56aa94053390 = $(`<div id="html_2c345446d4084acda2bc56aa94053390" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_80875a8d3a13457e8eceb08ed1189368.setContent(html_2c345446d4084acda2bc56aa94053390);
            

            marker_6dab48203789423fa8c31e9110b17ef7.bindPopup(popup_80875a8d3a13457e8eceb08ed1189368)
            ;

            
        
    
        var marker_6c48ac342eab45e699444baa72122d91 = L.marker(
            [41.910344161, -87.685605555],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_bfd9ef1b20c0415593cda693de813326 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6c48ac342eab45e699444baa72122d91.setIcon(icon_bfd9ef1b20c0415593cda693de813326);
            
    
            var popup_b1890201669f4891acfa99b257734b32 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3cdc13d1ca5d4982887a89364a180898 = $(`<div id="html_3cdc13d1ca5d4982887a89364a180898" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_b1890201669f4891acfa99b257734b32.setContent(html_3cdc13d1ca5d4982887a89364a180898);
            

            marker_6c48ac342eab45e699444baa72122d91.bindPopup(popup_b1890201669f4891acfa99b257734b32)
            ;

            
        
    
        var marker_0a5d62eb9d10481fa29fcede9b29f92c = L.marker(
            [41.75366368, -87.623055322],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_19df5fe8d0c44d6f9f5ed532cc3ec245 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0a5d62eb9d10481fa29fcede9b29f92c.setIcon(icon_19df5fe8d0c44d6f9f5ed532cc3ec245);
            
    
            var popup_7a7d2d04ac3148ac9f2c0c031b817498 = L.popup({maxWidth: '100%'
            
            });

            
                var html_27539ed0e66145498e56f4fd78a1e0b0 = $(`<div id="html_27539ed0e66145498e56f4fd78a1e0b0" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_7a7d2d04ac3148ac9f2c0c031b817498.setContent(html_27539ed0e66145498e56f4fd78a1e0b0);
            

            marker_0a5d62eb9d10481fa29fcede9b29f92c.bindPopup(popup_7a7d2d04ac3148ac9f2c0c031b817498)
            ;

            
        
    
        var marker_78594c34879944f9a3d6a2bba28b0d21 = L.marker(
            [41.836600771, -87.61677038],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_dd43b23928c74cfa85dc0ca349c9a3d3 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_78594c34879944f9a3d6a2bba28b0d21.setIcon(icon_dd43b23928c74cfa85dc0ca349c9a3d3);
            
    
            var popup_33d40305dad94ab892367f2697492ef4 = L.popup({maxWidth: '100%'
            
            });

            
                var html_dc15b15eb33741f59312294125f66ac4 = $(`<div id="html_dc15b15eb33741f59312294125f66ac4" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_33d40305dad94ab892367f2697492ef4.setContent(html_dc15b15eb33741f59312294125f66ac4);
            

            marker_78594c34879944f9a3d6a2bba28b0d21.bindPopup(popup_33d40305dad94ab892367f2697492ef4)
            ;

            
        
    
        var marker_7c7ece6b2afb44788631f39f1f9ec57d = L.marker(
            [41.95140987, -87.760695128],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_eae8cbde728d40edb02e57646f42acd4 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7c7ece6b2afb44788631f39f1f9ec57d.setIcon(icon_eae8cbde728d40edb02e57646f42acd4);
            
    
            var popup_4211e64e7082465286a63a80ccdb6b3c = L.popup({maxWidth: '100%'
            
            });

            
                var html_0153dc91ec6a42d987747f8e09bdc82b = $(`<div id="html_0153dc91ec6a42d987747f8e09bdc82b" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_4211e64e7082465286a63a80ccdb6b3c.setContent(html_0153dc91ec6a42d987747f8e09bdc82b);
            

            marker_7c7ece6b2afb44788631f39f1f9ec57d.bindPopup(popup_4211e64e7082465286a63a80ccdb6b3c)
            ;

            
        
    
        var marker_69d8b904e6f24bbd9639ccca7811114a = L.marker(
            [41.920381098, -87.800641542],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_0ffbd250a7af4851beff2e6f2af273b2 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_69d8b904e6f24bbd9639ccca7811114a.setIcon(icon_0ffbd250a7af4851beff2e6f2af273b2);
            
    
            var popup_d0bcaf1522db42f99495f526a4f54e1f = L.popup({maxWidth: '100%'
            
            });

            
                var html_4043f503b5474450a79aa549d11519f2 = $(`<div id="html_4043f503b5474450a79aa549d11519f2" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_d0bcaf1522db42f99495f526a4f54e1f.setContent(html_4043f503b5474450a79aa549d11519f2);
            

            marker_69d8b904e6f24bbd9639ccca7811114a.bindPopup(popup_d0bcaf1522db42f99495f526a4f54e1f)
            ;

            
        
    
        var marker_91a342a25d294ab4bc7e68cb7e493d85 = L.marker(
            [41.89771849, -87.677964548],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_087fff5c11d34c8481b6eafc0f69b89c = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_91a342a25d294ab4bc7e68cb7e493d85.setIcon(icon_087fff5c11d34c8481b6eafc0f69b89c);
            
    
            var popup_4d3567f75ce14b7581ed6f3cc4806255 = L.popup({maxWidth: '100%'
            
            });

            
                var html_18e72ab6a0004a4e8b9d72149116ebf3 = $(`<div id="html_18e72ab6a0004a4e8b9d72149116ebf3" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_4d3567f75ce14b7581ed6f3cc4806255.setContent(html_18e72ab6a0004a4e8b9d72149116ebf3);
            

            marker_91a342a25d294ab4bc7e68cb7e493d85.bindPopup(popup_4d3567f75ce14b7581ed6f3cc4806255)
            ;

            
        
    
        var marker_b6efdf3cb8bd47ba933070fe7b1d0315 = L.marker(
            [41.794944951, -87.668252976],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_3c5eb54272cb484d848eaec38f83807d = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b6efdf3cb8bd47ba933070fe7b1d0315.setIcon(icon_3c5eb54272cb484d848eaec38f83807d);
            
    
            var popup_d9333c78a7414f4e8853adfe77824d4f = L.popup({maxWidth: '100%'
            
            });

            
                var html_4cca2374f0ce4029b62224a70524009f = $(`<div id="html_4cca2374f0ce4029b62224a70524009f" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_d9333c78a7414f4e8853adfe77824d4f.setContent(html_4cca2374f0ce4029b62224a70524009f);
            

            marker_b6efdf3cb8bd47ba933070fe7b1d0315.bindPopup(popup_d9333c78a7414f4e8853adfe77824d4f)
            ;

            
        
    
        var marker_64484fd89a35421cbb10251721e5b293 = L.marker(
            [41.67560714, -87.626198314],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_a4683f834d9d416bafb3ea93648f096d = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_64484fd89a35421cbb10251721e5b293.setIcon(icon_a4683f834d9d416bafb3ea93648f096d);
            
    
            var popup_f7923aa9ddb64fec8c32249ecc494e77 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9e629e8299c944de95cd3aece20fdba0 = $(`<div id="html_9e629e8299c944de95cd3aece20fdba0" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_f7923aa9ddb64fec8c32249ecc494e77.setContent(html_9e629e8299c944de95cd3aece20fdba0);
            

            marker_64484fd89a35421cbb10251721e5b293.bindPopup(popup_f7923aa9ddb64fec8c32249ecc494e77)
            ;

            
        
    
        var marker_3088706528bf42dea51c105c74b8f0ae = L.marker(
            [41.86162732, -87.736045588],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_bdc256b60eec45178a94078e750628f6 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3088706528bf42dea51c105c74b8f0ae.setIcon(icon_bdc256b60eec45178a94078e750628f6);
            
    
            var popup_8641380b898d41e59d18e7dc7c8f8288 = L.popup({maxWidth: '100%'
            
            });

            
                var html_07b76eed2053405e92d4fe118ec3b487 = $(`<div id="html_07b76eed2053405e92d4fe118ec3b487" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_8641380b898d41e59d18e7dc7c8f8288.setContent(html_07b76eed2053405e92d4fe118ec3b487);
            

            marker_3088706528bf42dea51c105c74b8f0ae.bindPopup(popup_8641380b898d41e59d18e7dc7c8f8288)
            ;

            
        
    
        var marker_ad437a92219746079c2c94aa6c3fee9c = L.marker(
            [41.815052617, -87.668782329],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_57af25f8eb3c4e5386c3a5dbf92fb766 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ad437a92219746079c2c94aa6c3fee9c.setIcon(icon_57af25f8eb3c4e5386c3a5dbf92fb766);
            
    
            var popup_f92533f8557b42c8b5497b909ffcc800 = L.popup({maxWidth: '100%'
            
            });

            
                var html_e4f5f9564f3348b582e7cc7b1f0e255b = $(`<div id="html_e4f5f9564f3348b582e7cc7b1f0e255b" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_f92533f8557b42c8b5497b909ffcc800.setContent(html_e4f5f9564f3348b582e7cc7b1f0e255b);
            

            marker_ad437a92219746079c2c94aa6c3fee9c.bindPopup(popup_f92533f8557b42c8b5497b909ffcc800)
            ;

            
        
    
        var marker_493610f74c2f442c8c524e12c37cbaab = L.marker(
            [41.941560614, -87.739574926],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_6adaa2fbaec548b3804d3b98406fa777 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_493610f74c2f442c8c524e12c37cbaab.setIcon(icon_6adaa2fbaec548b3804d3b98406fa777);
            
    
            var popup_86a8049fe6ee4a358d92c78d146e47a5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7f760e6eebfb4744aa494f337513b50a = $(`<div id="html_7f760e6eebfb4744aa494f337513b50a" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_86a8049fe6ee4a358d92c78d146e47a5.setContent(html_7f760e6eebfb4744aa494f337513b50a);
            

            marker_493610f74c2f442c8c524e12c37cbaab.bindPopup(popup_86a8049fe6ee4a358d92c78d146e47a5)
            ;

            
        
    
        var marker_b501936251174aa08ab0733d2ac3b652 = L.marker(
            [41.944610236, -87.722979822],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_95754484ba9c49ec84a8791e914be3a9 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b501936251174aa08ab0733d2ac3b652.setIcon(icon_95754484ba9c49ec84a8791e914be3a9);
            
    
            var popup_b5fd5aece9cb487fa7a7c466313f50b5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_aea86702bb8b40b58a3b3083c2f1ce00 = $(`<div id="html_aea86702bb8b40b58a3b3083c2f1ce00" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_b5fd5aece9cb487fa7a7c466313f50b5.setContent(html_aea86702bb8b40b58a3b3083c2f1ce00);
            

            marker_b501936251174aa08ab0733d2ac3b652.bindPopup(popup_b5fd5aece9cb487fa7a7c466313f50b5)
            ;

            
        
    
        var marker_b1f16974852247d4b8111034f65523f0 = L.marker(
            [41.944610236, -87.722979822],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_0ff17dd4b0f548b8b0fa50f402ee952f = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b1f16974852247d4b8111034f65523f0.setIcon(icon_0ff17dd4b0f548b8b0fa50f402ee952f);
            
    
            var popup_df96aa0922034cc6b84de63dd242917c = L.popup({maxWidth: '100%'
            
            });

            
                var html_a4cb9f25c2a04c1e8ed4c0f0696416a3 = $(`<div id="html_a4cb9f25c2a04c1e8ed4c0f0696416a3" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_df96aa0922034cc6b84de63dd242917c.setContent(html_a4cb9f25c2a04c1e8ed4c0f0696416a3);
            

            marker_b1f16974852247d4b8111034f65523f0.bindPopup(popup_df96aa0922034cc6b84de63dd242917c)
            ;

            
        
    
        var marker_f68eeb2177a84b9faf9b41e0f3ee230b = L.marker(
            [41.944610236, -87.722979822],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_37370c8a2e60483594a91f28939b5ce1);
        
    

                var icon_efa7a7b4137f4604816c73def9fa9862 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f68eeb2177a84b9faf9b41e0f3ee230b.setIcon(icon_efa7a7b4137f4604816c73def9fa9862);
            
    
            var popup_298086b44898406f955c740d87fd3000 = L.popup({maxWidth: '100%'
            
            });

            
                var html_40bfc2fa5bc646c59a261f8bd9437d51 = $(`<div id="html_40bfc2fa5bc646c59a261f8bd9437d51" style="width: 100.0%; height: 100.0%;">BURGLARY</div>`)[0];
                popup_298086b44898406f955c740d87fd3000.setContent(html_40bfc2fa5bc646c59a261f8bd9437d51);
            

            marker_f68eeb2177a84b9faf9b41e0f3ee230b.bindPopup(popup_298086b44898406f955c740d87fd3000)
            ;

            
        
</script>