<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_0a297c8bd73148f8a17ca1bdb2fcda7f {
        position: relative;
        width: 1700.0px;
        height: 1000.0px;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_0a297c8bd73148f8a17ca1bdb2fcda7f" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_0a297c8bd73148f8a17ca1bdb2fcda7f = L.map(
        'map_0a297c8bd73148f8a17ca1bdb2fcda7f', {
        center: [41.8369, -87.6847],
        zoom: 11,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_ff44a64e51344d4aa15288187092cafc = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
    
        var marker_dae219267c904e3cae27cea5913d992f = L.marker(
            [41.781870179, -87.597859754],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_6027555c219846ee9dbe236c875dd344 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_dae219267c904e3cae27cea5913d992f.setIcon(icon_6027555c219846ee9dbe236c875dd344);
            
    
            var popup_32f4cda38f3d44eab6a1b359b15394d7 = L.popup({maxWidth: '100%'
            
            });

            
                var html_dc9230666a0c4dc18ba29f10cc5ba499 = $(`<div id="html_dc9230666a0c4dc18ba29f10cc5ba499" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_32f4cda38f3d44eab6a1b359b15394d7.setContent(html_dc9230666a0c4dc18ba29f10cc5ba499);
            

            marker_dae219267c904e3cae27cea5913d992f.bindPopup(popup_32f4cda38f3d44eab6a1b359b15394d7)
            ;

            
        
    
        var marker_3ee43e82294f4011846b80ea34c93fac = L.marker(
            [41.692358646, -87.623096746],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_7c520723ab5e45cd95bbe64d9d5ccd52 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3ee43e82294f4011846b80ea34c93fac.setIcon(icon_7c520723ab5e45cd95bbe64d9d5ccd52);
            
    
            var popup_486b042059864454a0b07e8ecdfad07a = L.popup({maxWidth: '100%'
            
            });

            
                var html_255c907290a24a0eb2e06f2af3332589 = $(`<div id="html_255c907290a24a0eb2e06f2af3332589" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_486b042059864454a0b07e8ecdfad07a.setContent(html_255c907290a24a0eb2e06f2af3332589);
            

            marker_3ee43e82294f4011846b80ea34c93fac.bindPopup(popup_486b042059864454a0b07e8ecdfad07a)
            ;

            
        
    
        var marker_88ec423239204e7ebdcfb25cb2a268da = L.marker(
            [41.949399232, -87.777626736],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_0b690f61d8704821b8753455ab457685 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_88ec423239204e7ebdcfb25cb2a268da.setIcon(icon_0b690f61d8704821b8753455ab457685);
            
    
            var popup_33b8ef1a5682406abf98a7816aa447a9 = L.popup({maxWidth: '100%'
            
            });

            
                var html_14c86c92d4c842cca78c2f3c525221e8 = $(`<div id="html_14c86c92d4c842cca78c2f3c525221e8" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_33b8ef1a5682406abf98a7816aa447a9.setContent(html_14c86c92d4c842cca78c2f3c525221e8);
            

            marker_88ec423239204e7ebdcfb25cb2a268da.bindPopup(popup_33b8ef1a5682406abf98a7816aa447a9)
            ;

            
        
    
        var marker_d6a44a39caef4519813b39fff51d79a8 = L.marker(
            [41.848443949, -87.735529608],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_964f8f1b380d4f538e7fea86e074d6a1 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d6a44a39caef4519813b39fff51d79a8.setIcon(icon_964f8f1b380d4f538e7fea86e074d6a1);
            
    
            var popup_faf9a2b493ef46489e7323d6e72a60c3 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c783bafa554b47499b0a1825d565f524 = $(`<div id="html_c783bafa554b47499b0a1825d565f524" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_faf9a2b493ef46489e7323d6e72a60c3.setContent(html_c783bafa554b47499b0a1825d565f524);
            

            marker_d6a44a39caef4519813b39fff51d79a8.bindPopup(popup_faf9a2b493ef46489e7323d6e72a60c3)
            ;

            
        
    
        var marker_42ea67cb6f3343bca4904deff9c51a02 = L.marker(
            [41.938153064, -87.79600229],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_e6d9d12d5ad34fde9d0eae710f90f9fa = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_42ea67cb6f3343bca4904deff9c51a02.setIcon(icon_e6d9d12d5ad34fde9d0eae710f90f9fa);
            
    
            var popup_0e8f35f41fef4f398253e454f248a739 = L.popup({maxWidth: '100%'
            
            });

            
                var html_47c9d5741dfd4c7a8601215f7719778b = $(`<div id="html_47c9d5741dfd4c7a8601215f7719778b" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_0e8f35f41fef4f398253e454f248a739.setContent(html_47c9d5741dfd4c7a8601215f7719778b);
            

            marker_42ea67cb6f3343bca4904deff9c51a02.bindPopup(popup_0e8f35f41fef4f398253e454f248a739)
            ;

            
        
    
        var marker_9cad815fd7fb40f7bfc337ab1fbc0e77 = L.marker(
            [41.813589417, -87.666328696],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_d4cc7facd23047c8a3adf9b3fb97c29b = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9cad815fd7fb40f7bfc337ab1fbc0e77.setIcon(icon_d4cc7facd23047c8a3adf9b3fb97c29b);
            
    
            var popup_15ccad4c6b65454388df6ff9748c1ae7 = L.popup({maxWidth: '100%'
            
            });

            
                var html_91ea4dedcced4fed8873a1f36c4c4ea2 = $(`<div id="html_91ea4dedcced4fed8873a1f36c4c4ea2" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_15ccad4c6b65454388df6ff9748c1ae7.setContent(html_91ea4dedcced4fed8873a1f36c4c4ea2);
            

            marker_9cad815fd7fb40f7bfc337ab1fbc0e77.bindPopup(popup_15ccad4c6b65454388df6ff9748c1ae7)
            ;

            
        
    
        var marker_735fac12e6f34ed7bd6ada5cbf290fda = L.marker(
            [41.72575083, -87.601548],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_09ae83beebc8431f9a7c1425d0da48e5 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_735fac12e6f34ed7bd6ada5cbf290fda.setIcon(icon_09ae83beebc8431f9a7c1425d0da48e5);
            
    
            var popup_cf9eb41b128b443d9e3d89bbfdeec733 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9fbd0699f00341b096fb34fe3685e8b7 = $(`<div id="html_9fbd0699f00341b096fb34fe3685e8b7" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_cf9eb41b128b443d9e3d89bbfdeec733.setContent(html_9fbd0699f00341b096fb34fe3685e8b7);
            

            marker_735fac12e6f34ed7bd6ada5cbf290fda.bindPopup(popup_cf9eb41b128b443d9e3d89bbfdeec733)
            ;

            
        
    
        var marker_66146631a53d4dc3b42417778f3fc76e = L.marker(
            [41.871530533, -87.744926805],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_15f71651d73e40cfbb04f3958885356e = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_66146631a53d4dc3b42417778f3fc76e.setIcon(icon_15f71651d73e40cfbb04f3958885356e);
            
    
            var popup_896c61379d834d689d3cd2c3cecee24f = L.popup({maxWidth: '100%'
            
            });

            
                var html_716713ecccf542cfb0b41235ebb41eba = $(`<div id="html_716713ecccf542cfb0b41235ebb41eba" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_896c61379d834d689d3cd2c3cecee24f.setContent(html_716713ecccf542cfb0b41235ebb41eba);
            

            marker_66146631a53d4dc3b42417778f3fc76e.bindPopup(popup_896c61379d834d689d3cd2c3cecee24f)
            ;

            
        
    
        var marker_7593763f789a459590fe416962376e95 = L.marker(
            [41.76888502, -87.615343355],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_7911ae2e2d7e4152840aee1ff8d1d588 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7593763f789a459590fe416962376e95.setIcon(icon_7911ae2e2d7e4152840aee1ff8d1d588);
            
    
            var popup_d7ed76c991b34aac8bb14bfa0235ee35 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4d5c050c64884688897230c9e4eb5533 = $(`<div id="html_4d5c050c64884688897230c9e4eb5533" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_d7ed76c991b34aac8bb14bfa0235ee35.setContent(html_4d5c050c64884688897230c9e4eb5533);
            

            marker_7593763f789a459590fe416962376e95.bindPopup(popup_d7ed76c991b34aac8bb14bfa0235ee35)
            ;

            
        
    
        var marker_fb413c05ea1d4fa695442f893f2439ff = L.marker(
            [41.873436688, -87.742574112],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_46656b9cc4e0457cb6682cd345a499fd = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fb413c05ea1d4fa695442f893f2439ff.setIcon(icon_46656b9cc4e0457cb6682cd345a499fd);
            
    
            var popup_88db74e0c566422583588d33e4b6163d = L.popup({maxWidth: '100%'
            
            });

            
                var html_cf2c1938c5fb4a85bb388a9932d863bc = $(`<div id="html_cf2c1938c5fb4a85bb388a9932d863bc" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_88db74e0c566422583588d33e4b6163d.setContent(html_cf2c1938c5fb4a85bb388a9932d863bc);
            

            marker_fb413c05ea1d4fa695442f893f2439ff.bindPopup(popup_88db74e0c566422583588d33e4b6163d)
            ;

            
        
    
        var marker_c8c5312a33c942bcba3505f861d1e7f4 = L.marker(
            [41.742830997, -87.648674272],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_f608b65e902749769ab89d35842ce835 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c8c5312a33c942bcba3505f861d1e7f4.setIcon(icon_f608b65e902749769ab89d35842ce835);
            
    
            var popup_a338085fea3d43a2b24693300c44fb5d = L.popup({maxWidth: '100%'
            
            });

            
                var html_3a59dbb1f90340a5ad3dc1ee5004689d = $(`<div id="html_3a59dbb1f90340a5ad3dc1ee5004689d" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_a338085fea3d43a2b24693300c44fb5d.setContent(html_3a59dbb1f90340a5ad3dc1ee5004689d);
            

            marker_c8c5312a33c942bcba3505f861d1e7f4.bindPopup(popup_a338085fea3d43a2b24693300c44fb5d)
            ;

            
        
    
        var marker_068f253c04aa4c2a8b0e54f10c17d2b4 = L.marker(
            [41.954170882, -87.677651219],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_1ed01fdbe41a43bf9777c697eb8c0a96 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_068f253c04aa4c2a8b0e54f10c17d2b4.setIcon(icon_1ed01fdbe41a43bf9777c697eb8c0a96);
            
    
            var popup_3f4f95799ace46f6943c95837d456b2b = L.popup({maxWidth: '100%'
            
            });

            
                var html_7bfac63612b74634a3d9d6835c5f5a21 = $(`<div id="html_7bfac63612b74634a3d9d6835c5f5a21" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_3f4f95799ace46f6943c95837d456b2b.setContent(html_7bfac63612b74634a3d9d6835c5f5a21);
            

            marker_068f253c04aa4c2a8b0e54f10c17d2b4.bindPopup(popup_3f4f95799ace46f6943c95837d456b2b)
            ;

            
        
    
        var marker_e4701981da884fb094a245eb63c7d2f3 = L.marker(
            [41.867428687, -87.626342565],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_76ec1a1355f047298897b90f09eb7d69 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e4701981da884fb094a245eb63c7d2f3.setIcon(icon_76ec1a1355f047298897b90f09eb7d69);
            
    
            var popup_f799cbfbe2fc4867887fddead480dc9a = L.popup({maxWidth: '100%'
            
            });

            
                var html_90faafb3c9d84b80b65c70e51d908b20 = $(`<div id="html_90faafb3c9d84b80b65c70e51d908b20" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_f799cbfbe2fc4867887fddead480dc9a.setContent(html_90faafb3c9d84b80b65c70e51d908b20);
            

            marker_e4701981da884fb094a245eb63c7d2f3.bindPopup(popup_f799cbfbe2fc4867887fddead480dc9a)
            ;

            
        
    
        var marker_c91d0027f3af4f5399f07fb077e8e30e = L.marker(
            [41.80088015, -87.728710114],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_dce5ac80a8a149b98f9d48e6e68cb1ca = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c91d0027f3af4f5399f07fb077e8e30e.setIcon(icon_dce5ac80a8a149b98f9d48e6e68cb1ca);
            
    
            var popup_e4b0df71008c46cc91318c76bc396f14 = L.popup({maxWidth: '100%'
            
            });

            
                var html_ad2464f5eaf64848a9bbd939185f8827 = $(`<div id="html_ad2464f5eaf64848a9bbd939185f8827" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_e4b0df71008c46cc91318c76bc396f14.setContent(html_ad2464f5eaf64848a9bbd939185f8827);
            

            marker_c91d0027f3af4f5399f07fb077e8e30e.bindPopup(popup_e4b0df71008c46cc91318c76bc396f14)
            ;

            
        
    
        var marker_c75ebe6a4f7d4972ad62e8a0c82afdf2 = L.marker(
            [41.793685818, -87.662673584],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_ce3be41e4234438381da2a0eda446047 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c75ebe6a4f7d4972ad62e8a0c82afdf2.setIcon(icon_ce3be41e4234438381da2a0eda446047);
            
    
            var popup_8c00bd7577fa4ef3afd6ca31919a135e = L.popup({maxWidth: '100%'
            
            });

            
                var html_23cde3dcada14528a8ba87d91042c4d1 = $(`<div id="html_23cde3dcada14528a8ba87d91042c4d1" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_8c00bd7577fa4ef3afd6ca31919a135e.setContent(html_23cde3dcada14528a8ba87d91042c4d1);
            

            marker_c75ebe6a4f7d4972ad62e8a0c82afdf2.bindPopup(popup_8c00bd7577fa4ef3afd6ca31919a135e)
            ;

            
        
    
        var marker_50f230c9e9544cddbeeb49591e4f9c5f = L.marker(
            [41.766180932, -87.582145021],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_4025a0f5e86b46279fdc2a3b7de92356 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_50f230c9e9544cddbeeb49591e4f9c5f.setIcon(icon_4025a0f5e86b46279fdc2a3b7de92356);
            
    
            var popup_858eb43f583d49c19b6c5beb346bc7eb = L.popup({maxWidth: '100%'
            
            });

            
                var html_d3fa4e310b8741579ffac777ea4b731d = $(`<div id="html_d3fa4e310b8741579ffac777ea4b731d" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_858eb43f583d49c19b6c5beb346bc7eb.setContent(html_d3fa4e310b8741579ffac777ea4b731d);
            

            marker_50f230c9e9544cddbeeb49591e4f9c5f.bindPopup(popup_858eb43f583d49c19b6c5beb346bc7eb)
            ;

            
        
    
        var marker_d371491ab07748fd9ec65a51a85a9919 = L.marker(
            [41.872963554, -87.753663295],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_2e0f26b872ef42d692e970e284a6b01d = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d371491ab07748fd9ec65a51a85a9919.setIcon(icon_2e0f26b872ef42d692e970e284a6b01d);
            
    
            var popup_f4e5bb0dea244a1e953b1ca1ce66c775 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3261058cec1940fdb81f57f62c8a697d = $(`<div id="html_3261058cec1940fdb81f57f62c8a697d" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_f4e5bb0dea244a1e953b1ca1ce66c775.setContent(html_3261058cec1940fdb81f57f62c8a697d);
            

            marker_d371491ab07748fd9ec65a51a85a9919.bindPopup(popup_f4e5bb0dea244a1e953b1ca1ce66c775)
            ;

            
        
    
        var marker_254b9a67fb61424f8b7f2313726627e0 = L.marker(
            [42.000476042, -87.69361752],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_5de9a93ef31c487bab539f426d951ca2 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_254b9a67fb61424f8b7f2313726627e0.setIcon(icon_5de9a93ef31c487bab539f426d951ca2);
            
    
            var popup_e529dc16d39c4a69aaec5543676a9c40 = L.popup({maxWidth: '100%'
            
            });

            
                var html_955892bb44ec4651b7ffbdd60cdc24e4 = $(`<div id="html_955892bb44ec4651b7ffbdd60cdc24e4" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_e529dc16d39c4a69aaec5543676a9c40.setContent(html_955892bb44ec4651b7ffbdd60cdc24e4);
            

            marker_254b9a67fb61424f8b7f2313726627e0.bindPopup(popup_e529dc16d39c4a69aaec5543676a9c40)
            ;

            
        
    
        var marker_997cda1a764f4c1790c36fd06031bd6f = L.marker(
            [41.891579621, -87.634674198],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_77bfe9bb88a840e9a7cdb352f8ee88e2 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_997cda1a764f4c1790c36fd06031bd6f.setIcon(icon_77bfe9bb88a840e9a7cdb352f8ee88e2);
            
    
            var popup_0d2f1f308e124a8597b76ccee0f674c4 = L.popup({maxWidth: '100%'
            
            });

            
                var html_1536fcdf5fbb476582d3ec9358072332 = $(`<div id="html_1536fcdf5fbb476582d3ec9358072332" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_0d2f1f308e124a8597b76ccee0f674c4.setContent(html_1536fcdf5fbb476582d3ec9358072332);
            

            marker_997cda1a764f4c1790c36fd06031bd6f.bindPopup(popup_0d2f1f308e124a8597b76ccee0f674c4)
            ;

            
        
    
        var marker_3293cd670ccb443d8094d99724c06b26 = L.marker(
            [41.769414467, -87.66394187],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_ebe5ce252609467eb8eef1032d6ead42 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3293cd670ccb443d8094d99724c06b26.setIcon(icon_ebe5ce252609467eb8eef1032d6ead42);
            
    
            var popup_b1bce2e9cc0e460bbb85d83050721855 = L.popup({maxWidth: '100%'
            
            });

            
                var html_dff844b048eb4d17bcb3ea02a17ef9a2 = $(`<div id="html_dff844b048eb4d17bcb3ea02a17ef9a2" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_b1bce2e9cc0e460bbb85d83050721855.setContent(html_dff844b048eb4d17bcb3ea02a17ef9a2);
            

            marker_3293cd670ccb443d8094d99724c06b26.bindPopup(popup_b1bce2e9cc0e460bbb85d83050721855)
            ;

            
        
    
        var marker_9e4bbf07497c40b1b3d86e98a1e2da0b = L.marker(
            [41.875975271, -87.741004881],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_b97eb95356f94474b69c1ee808953158 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9e4bbf07497c40b1b3d86e98a1e2da0b.setIcon(icon_b97eb95356f94474b69c1ee808953158);
            
    
            var popup_f6d388f5f7124fa6aca97a8856c19d4c = L.popup({maxWidth: '100%'
            
            });

            
                var html_f1d03f18cd6c42298696f540a1d96749 = $(`<div id="html_f1d03f18cd6c42298696f540a1d96749" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_f6d388f5f7124fa6aca97a8856c19d4c.setContent(html_f1d03f18cd6c42298696f540a1d96749);
            

            marker_9e4bbf07497c40b1b3d86e98a1e2da0b.bindPopup(popup_f6d388f5f7124fa6aca97a8856c19d4c)
            ;

            
        
    
        var marker_3052c3a98fcb46ba81514517259f0f6e = L.marker(
            [41.904672828, -87.63294819],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_0190ce22c0854e19af69fd59f035f20c = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3052c3a98fcb46ba81514517259f0f6e.setIcon(icon_0190ce22c0854e19af69fd59f035f20c);
            
    
            var popup_7e44e5d0d6a843f8b4f261892559260b = L.popup({maxWidth: '100%'
            
            });

            
                var html_8f90121c0fa84750a82b5df1b4701d44 = $(`<div id="html_8f90121c0fa84750a82b5df1b4701d44" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_7e44e5d0d6a843f8b4f261892559260b.setContent(html_8f90121c0fa84750a82b5df1b4701d44);
            

            marker_3052c3a98fcb46ba81514517259f0f6e.bindPopup(popup_7e44e5d0d6a843f8b4f261892559260b)
            ;

            
        
    
        var marker_fd9306334b5b46c8a8af6b45a76477d0 = L.marker(
            [41.678889083, -87.627491193],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_af0b514d3aa94b70920fb088b86fe628 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fd9306334b5b46c8a8af6b45a76477d0.setIcon(icon_af0b514d3aa94b70920fb088b86fe628);
            
    
            var popup_4fd0d87e940146d1a44b670292dc4472 = L.popup({maxWidth: '100%'
            
            });

            
                var html_368af1d9080143a3a3f515bf3591e597 = $(`<div id="html_368af1d9080143a3a3f515bf3591e597" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_4fd0d87e940146d1a44b670292dc4472.setContent(html_368af1d9080143a3a3f515bf3591e597);
            

            marker_fd9306334b5b46c8a8af6b45a76477d0.bindPopup(popup_4fd0d87e940146d1a44b670292dc4472)
            ;

            
        
    
        var marker_051ad0a9a037488d82b9cde5693cd034 = L.marker(
            [41.794670403, -87.631785431],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_02593e3cc2894b0993d3fd321426af99 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_051ad0a9a037488d82b9cde5693cd034.setIcon(icon_02593e3cc2894b0993d3fd321426af99);
            
    
            var popup_fc01f4956133450f8dd59eb7d56d60aa = L.popup({maxWidth: '100%'
            
            });

            
                var html_492df0325e714761be916f9e26fa5a26 = $(`<div id="html_492df0325e714761be916f9e26fa5a26" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_fc01f4956133450f8dd59eb7d56d60aa.setContent(html_492df0325e714761be916f9e26fa5a26);
            

            marker_051ad0a9a037488d82b9cde5693cd034.bindPopup(popup_fc01f4956133450f8dd59eb7d56d60aa)
            ;

            
        
    
        var marker_f18c561b2d3f478ca687e7749c2b3a6d = L.marker(
            [41.679809448, -87.625870438],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_f8796a39dd55488c83931968f686f9fb = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f18c561b2d3f478ca687e7749c2b3a6d.setIcon(icon_f8796a39dd55488c83931968f686f9fb);
            
    
            var popup_9632af45f4964cc6b2b8ccdca9777342 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c824a0e66d414bfd89e430772e654795 = $(`<div id="html_c824a0e66d414bfd89e430772e654795" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_9632af45f4964cc6b2b8ccdca9777342.setContent(html_c824a0e66d414bfd89e430772e654795);
            

            marker_f18c561b2d3f478ca687e7749c2b3a6d.bindPopup(popup_9632af45f4964cc6b2b8ccdca9777342)
            ;

            
        
    
        var marker_ffa5ac266cee494288e7f3d98de50d37 = L.marker(
            [41.940572915, -87.753036656],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_68f33484c2ca4e06b2b411a7dfb8eb63 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ffa5ac266cee494288e7f3d98de50d37.setIcon(icon_68f33484c2ca4e06b2b411a7dfb8eb63);
            
    
            var popup_de0823b8ca2644998f5ce5a50327c280 = L.popup({maxWidth: '100%'
            
            });

            
                var html_ace12ee20f7844ba8c421e12dc7d9c33 = $(`<div id="html_ace12ee20f7844ba8c421e12dc7d9c33" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_de0823b8ca2644998f5ce5a50327c280.setContent(html_ace12ee20f7844ba8c421e12dc7d9c33);
            

            marker_ffa5ac266cee494288e7f3d98de50d37.bindPopup(popup_de0823b8ca2644998f5ce5a50327c280)
            ;

            
        
    
        var marker_b3c788856da9470b9e1a5c87d2e9c8b5 = L.marker(
            [41.736259849, -87.6280468],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_fa7c9cdad0f04d169a7987ea91bd47c5 = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b3c788856da9470b9e1a5c87d2e9c8b5.setIcon(icon_fa7c9cdad0f04d169a7987ea91bd47c5);
            
    
            var popup_a4ef705af4dd4d19a47847964e0a92a0 = L.popup({maxWidth: '100%'
            
            });

            
                var html_34912ae9181e46b1a8bbf1324a793c27 = $(`<div id="html_34912ae9181e46b1a8bbf1324a793c27" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_a4ef705af4dd4d19a47847964e0a92a0.setContent(html_34912ae9181e46b1a8bbf1324a793c27);
            

            marker_b3c788856da9470b9e1a5c87d2e9c8b5.bindPopup(popup_a4ef705af4dd4d19a47847964e0a92a0)
            ;

            
        
    
        var marker_a0d6a2a5119545bcb968625f9d309eab = L.marker(
            [41.882224052, -87.766032098],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_66d068760c9542e3b218b48410b81d1e = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a0d6a2a5119545bcb968625f9d309eab.setIcon(icon_66d068760c9542e3b218b48410b81d1e);
            
    
            var popup_c10957e4cb554587ac5e8ff84a80e2d8 = L.popup({maxWidth: '100%'
            
            });

            
                var html_84cb192d32074a58a92191ed979dc434 = $(`<div id="html_84cb192d32074a58a92191ed979dc434" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_c10957e4cb554587ac5e8ff84a80e2d8.setContent(html_84cb192d32074a58a92191ed979dc434);
            

            marker_a0d6a2a5119545bcb968625f9d309eab.bindPopup(popup_c10957e4cb554587ac5e8ff84a80e2d8)
            ;

            
        
    
        var marker_157f4128e3c14a7b8d8f5ae47fbe62b4 = L.marker(
            [41.924230143, -87.746915859],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a297c8bd73148f8a17ca1bdb2fcda7f);
        
    

                var icon_5537ce5f965b460096bf72171f6844cf = L.AwesomeMarkers.icon({
                    icon: 'circle',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'fa',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_157f4128e3c14a7b8d8f5ae47fbe62b4.setIcon(icon_5537ce5f965b460096bf72171f6844cf);
            
    
            var popup_461138c2a4194690b20a95a65d66ee8d = L.popup({maxWidth: '100%'
            
            });

            
                var html_f31059d2d61c49a9913cdd4892b1be2d = $(`<div id="html_f31059d2d61c49a9913cdd4892b1be2d" style="width: 100.0%; height: 100.0%;">ROBBERY</div>`)[0];
                popup_461138c2a4194690b20a95a65d66ee8d.setContent(html_f31059d2d61c49a9913cdd4892b1be2d);
            

            marker_157f4128e3c14a7b8d8f5ae47fbe62b4.bindPopup(popup_461138c2a4194690b20a95a65d66ee8d)
            ;

            
        
</script>